# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Virtual environment
# ========================
venv/

# ========================
# Environment variables
# ========================
.env

# ========================
# Databases
# ========================
*.db

# ========================
# Uploads / media
# ========================
media/
app/media/
app/static/uploads/

# ========================
# Local data
# ========================
data/

# ========================
# OS files
# ========================
Thumbs.db
.DS_Store
cd
uvicorn

